
.SearchResult-ReviewTitleCol {
    width: 70vw;
}

.SearchResult-ReviewLikesCol {
    width: 10vw;
}

.SearchResult-ReviewGradesCol {
    width: 10vw;
}

.SearchResult-ReviewOpenCol {
    width: 10vw;
}